.container {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}
#textAbout {
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 15px;
width: 100%;
height: 50px;
margin-top: 10px;
margin-bottom: 10px;
}