@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
h1 {
    color: #9d0914;
}
body {
    background-color: lightgray;
    font-size: 16px;
    font-family: 'Poppins';
}
a{
    color: #9d0914;
    padding: 20px;
}
.menu {
    color: black;
    margin-top: 100px;
    font-weight: bold;
    font-size: 24px;

}
#cardapio {
    margin-top: 30px;
}
#voltar {
    color: rgb(54, 53, 53);
    text-decoration: none;
    margin-top: 40px;
    
}
#customer {
    margin-top: 20px;
}
